body {
    margin         : 0%;
    padding        : 0%;
    font-family    : 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
  }
  
  .BgBlue {
    background-color: #4c9b7a;
  }
  
  .fs-14 {
    font-size: 14px;
  }
  
  .margin-5 {
    margin-top: 3rem !important;
  }
  
  .margin-4 {
    margin-bottom: 2rem !important;
  }
  
  .fs-27 {
    font-size: 27px;
  }
  
  .text-overlay {
    bottom     : 20px;
    left       : 0;
    padding-left : 20px;
    padding-right: 20px;
    z-index    : 1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .text-overlay p {
    font-size    : 15px;
    background   : #000000b0;
    padding      : 4px 9px;
    border-radius: 5px;
    width        : auto;
    display      : table;
    margin       : 0 auto;
  }
  
  .text-overlays {
    padding-left : 20px;
    padding-right: 20px;
    bottom       : 15px;
    left         : 0;
    z-index      : 1;
    text-shadow  : 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .text-overlays p {
    font-size    : 13px;
    background   : #000000b0;
    padding      : 4px 9px;
    border-radius: 5px;
    width        : auto;
    display      : table;
    margin       : 0 auto;
  }
  
  .highlight span {
    color      : #FFF;
  /*  text-shadow: 0 0 10px #FFCA2C;*/
  /*  animation  : highlight 3s ease-in-out infinite alternate;*/
  }
  
  @keyframes highlight {
    to {
      text-shadow: 20px 0 50px #fff;
      color      : #fff;
    }
  }
  
  .fs-18 {
    font-size: 18px;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .rainbow {
    position       : relative;
    border-radius  : 10px;
    overflow       : hidden;
    padding        : 2rem;
    display        : flex;
    justify-content: center;
    align-items    : center;
  
    &::before {
      content            : '';
      position           : absolute;
      z-index            : -2;
      left               : -50%;
      top                : -50%;
      width              : 200%;
      height             : 200%;
      background-color   : #7a839c;
      background-repeat  : no-repeat;
      background-size    : 50% 50%, 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-image   : linear-gradient(#74b6b3, #74b6b3), linear-gradient(#4b3e26, #4b3e26), linear-gradient(#3092DD, #263D81), linear-gradient(#8db61d, #8db61d);
      animation          : rotate 10s linear infinite;
    }
  
    &::after {
      content      : '';
      position     : absolute;
      z-index      : -1;
      left         : 6px;
      top          : 6px;
      width        : calc(100% - 12px);
      height       : calc(100% - 12px);
      border-radius: 5px;
      background   : #212529;
    }
  }
  
  span.quotos i.bi.bi-quote {
    font-size: 25px;
    color    : #ffc107;
  }
  
  .sec-title:after {
    content   : "";
    position  : absolute;
    height    : 3px;
    width     : 100px;
    background: #FFCA2C;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .hero-header2 {
    background     : url(../images/as.webp) top center no-repeat;
    background-size: cover;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .wdth50 {
    width      : 60%;
    line-height: 30px;
    height     : 115px;
  }
  
  .wow.fadeIn.position-relative {
    padding-left: 50px;
  }
  
  /*.aboutHomeImg::before {
    content         : '';
    position        : absolute;
    right           : 0px;
    width           : 95%;
    height          : 100%;
    border-radius   : 5px;
    bottom          : -45px;
    background-color: #FFCA2C;
  }*/
  
  .yellow {
    color: #FFCA2C;
  }
  
  .hero-header2:after {
    content         : '';
    position        : absolute;
    inset           : 0;
    background-color: #00000082;
  }
  
  .mb-3.mainmargin {
    margin-bottom: 1.4rem !important;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  ul {
    padding: 0;
  }
  
  a:hover,
  a {
    text-decoration: none !important;
  }
  
  button:focus {
    outline   : none;
    box-shadow: none;
  }
  
  ul.navbar-nav li a {
    color         : #fff;
    font-weight   : 600;
    font-size     : 16px;
    letter-spacing: 1px;
    margin        : 0;
  }
  
  header {
    box-shadow: 0px 7px 11px #eee;
  }
  
  .display3 {
    font-size  : 31px !important;
    font-weight: 700 !important;
  }
  
  i.fa-solid.fa-chevron-left {
    position     : absolute;
    top          : 44%;
    transform    : translateY(-50%);
    left         : 0;
    font-size    : 27px;
    height       : 37px;
    width        : 37px;
    border       : 1px solid #ddd;
    color        : #adb5bd;
    background   : #ffffff26 !important;
    padding      : 4px 8px;
    border-radius: 50%;
    box-shadow   : 0 2px 4px 1px rgba(0, 0, 0, .07);
  }
  
  i.fa-solid.fa-chevron-right {
    position     : absolute;
    top          : 44%;
    transform    : translateY(-50%);
    right        : 0;
    font-size    : 27px;
    height       : 37px;
    width        : 37px;
    border       : 1px solid #ddd;
    color        : #adb5bd;
    background   : #ffffff26 !important;
    padding      : 4px 8px;
    border-radius: 50%;
    box-shadow   : 0 2px 4px 1px rgba(0, 0, 0, .07);
  }
  
  .successSlider .item {
    height: 105px;
  }
  
  .fw-700 {
    font-weight: 700;
  }
  
  .textprimary {
    color: #263d81;
  }
  
  .Bgwarning {
    background-color: #FFCA2C;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  .button-main {
    color        : #fff;
    border       : none;
    font-weight  : 500;
    padding      : 12px 25px;
    border-radius: 5px;
    cursor       : pointer;
    background   : #ffc107;
  }
  
  .borderbottom-gradient {
    height    : 2px;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #263D81);
    margin    : 10px 0;
    transform : rotate(180deg);
  }
  
  .reviews_img_box img {
    height: 100px;
  }
  
  .card-body {
    padding       : 0 22px !important;
    margin-bottom : 15px;
    border-bottom : 1px solid #dddddd40;
    padding-bottom: 15px !important;
  }
  
  .reviews_img_box {
    text-align   : center;
    display      : table;
    margin       : 0 auto;
    margin-bottom: 14px;
    border-radius: 11px;
    overflow     : hidden;
  }
  
  .card p {
    margin    : 0;
    text-align: center;
    font-size : 14px;
    padding   : 0 10px;
  }
  
  .TestimonialsSlider .bgtransparent {
    background-color: #263D81 !important;
    cursor          : pointer;
  }
  
  .TestimonialsSlider .card p {
    max-height        : 120px;
    overflow-y        : scroll;
    scrollbar-width   : thin;
    -ms-overflow-style: none;
  }
  
  .still_unsure {
    padding      : 65px 0;
  /*  box-shadow   : 0px 11px 19px #eee;*/
    border       : 1px solid #eee;
    border-radius: 10px;
    width        : 80%;
    margin       : auto;
  }
  
  footer ul li {
    text-transform: uppercase;
    margin-bottom : 10px;
  }
  
  .applymian-form,
  .livechat-form,
  .brouchure-form {
    position  : fixed;
    top       : 0;
    left      : 0;
    background: #00000087;
    overflow-y: scroll;
    bottom    : 0;
    right     : 0;
    overflow-x: hidden;
    z-index   : 1072;
    display   : none;
    padding   : 45px 0;
  }
  
  .livechat-form {
    z-index   : 10272;
    visibility: hidden;
  }
  
  .apply-form {
    background   : #fff;
    padding      : 20px 40px 20px 40px;
    width        : 465px;
    border-radius: 10px;
    margin       : auto;
  }
  
  .errormsg {
    display      : none;
    position     : absolute;
    background   : #e01a21;
    color        : #fff;
    font-size    : 10px;
    bottom       : 7px;
    left         : 6px;
    z-index      : 1;
    padding      : 1px 10px;
    border-radius: 50px;
  }
  
  .form-control:focus {
    box-shadow: none;
  }
  
  span.close-modal:hover {
    transform: rotate(90deg);
    opacity  : 1;
  }
  
  span.close-modal {
    display    : block;
    color      : #000;
    font-size  : 2.5rem;
    font-weight: 100;
    position   : absolute;
    top        : 0;
    cursor     : pointer;
    right      : 15px;
    transition : all .3s ease-in-out;
    opacity    : .7;
    z-index    : 9;
  }
  
  .apply-form h1:before {
    border  : 1px solid;
    width   : 50px;
    content : "";
    position: absolute;
    left    : 0;
    right   : 0;
    margin  : auto;
    bottom  : -12px;
  }
  
  .apply-form h1 {
    font-size    : 25px;
    font-weight  : 600;
    text-align   : center;
    margin-bottom: 20px;
    position     : relative;
  }
  
  
  footer {
    background: #131313;
    color     : #fff;
    padding   : 15px 0;
    font-size : 14px;
  }
  
  .tollfree-box {
    text-align   : center;
    background   : #fff;
    padding      : 35px 0;
    border-radius: 10px;
    box-shadow   : 0 1px 5px rgb(0 0 0 / 10%);
  }
  
  section.tollfree-sec {
    padding   : 80px 0;
    background: #f0f8ff;
  }
  
  .tollfree-box h5 {
    font-size: 25px;
    color    : #4d4d4d;
  }
  
  .tollfree-box h2 {
    color    : #dc3545;
    font-size: 21px;
  }
  
  a.cta-call:hover {
    background: #dc3545;
    color     : #fff !important;
  }
  
  .tollfree-box p {
    font-size     : 21px;
    letter-spacing: 1px;
  }
  
  .cta-call {
    padding      : 8px 35px;
    display      : inline-block;
    color        : #333;
    border-radius: 5px;
    transition   : all .3s ease-in 0s;
    position     : relative;
    overflow     : hidden;
    border       : 1px solid;
  }
  
  .cta p {
    font-size     : 21px;
    letter-spacing: 1px;
  }
  
  .cta-call svg {
    width    : 37px;
    animation: bouncecall 2s ease infinite;
  }
  
  @keyframes bouncecall {
  
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
  
    40% {
      transform: translateY(-3px);
    }
  
    60% {
      transform: translateY(-4px);
    }
  }
  
  
  
  .brouchure-text h1 {
    font-size: 23px;
  }
  
  .brouchure-text p {
    font-size  : 15px;
    font-weight: 500;
  }
  
  .home-text li {
    font-size: 14px;
  }
  
  .addmission-pro li>span {
    font-size    : 21px;
    margin-bottom: 12px;
    display      : block;
    font-weight  : 600;
    color        : #FA433F;
  }
  
  .our-leraner {
    padding: 80px 0;
  }
  
  span.card-sm-img svg {
    width: 20px;
  }
  
  p.card-text {
    font-weight: 500;
    font-size  : 15px;
    color      : #565656;
  }
  
  h5.card-title {
    background: #c5daf8;
    padding   : 10px;
    color     : #333;
    font-size : 16px;
  }
  
  .course-card {
    height: 185px;
  }
  
  .stretched-link::after {
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    z-index : 1;
    content : "";
  }
  
  h4.card-main-head {
    font-size: 14px;
  }
  
  .readmore {
    color: #fff !important;
  }
  
  a.readmore svg {
    width      : 15px;
    margin-left: -15px;
    opacity    : 0;
    transition : all .3s ease-in-out;
  }
  
  .navbar-toggler {
    background-color: white !important;
  }
  
  a.readmore:hover>svg {
    margin-left: 0;
    opacity    : 1;
  }
  
  .main_form {
    cursor: pointer;
  }
  
  .box-card .card-body {
    height: 245px;
  }
  
  section.section-thankyou h1 {
    font-size     : 85px;
    font-weight   : 800;
    letter-spacing: 3px;
  }
  
  section.section-thankyou {
    text-align      : center;
    padding         : 75px 0 75px;
    background-color: rgb(13 110 253 / 10%);
  }
  
  section.section-thankyou svg {
    width: 120px;
    color: #FFCA2C;
  }
  
  section.section-thankyou p {
    font-size  : 21px;
    font-weight: 500;
  
  }
  
  .MainMoial p {
    width        : 82%;
    font-size    : 20px;
    line-height  : 37px;
    margin-bottom: 28px;
  }
  
  span.Myiconmaod {
    color: #0d6efd;
  }
  
  .Footer_link_text__Iro1E:hover {
    color: #0d6efd !important;
  }
  
  i.fas.fa-chevron-left {
    position     : absolute;
    top          : 44%;
    transform    : translateY(-50%);
    left         : 0;
    font-size    : 27px;
    height       : 37px;
    width        : 37px;
    border       : 1px solid #ddd;
    color        : #adb5bd;
    background   : #fff;
    padding      : 4px 8px;
    border-radius: 50%;
    box-shadow   : 0 2px 4px 1px rgba(0, 0, 0, .07);
  }
  
  .YtBanner img {
    height: 240px;
  }
  
  i.fas.fa-chevron-right {
    position     : absolute;
    top          : 44%;
    transform    : translateY(-50%);
    right        : 0;
    font-size    : 27px;
    height       : 37px;
    width        : 37px;
    border       : 1px solid #ddd;
    color        : #adb5bd;
    background   : #fff;
    padding      : 4px 8px;
    border-radius: 50%;
    box-shadow   : 0 2px 4px 1px rgba(0, 0, 0, .07);
  }
  
  .PlayButton_playbutton__eYrNa {
    background-color: red;
    color           : #fff;
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 40px;
    height          : 40px;
    font-size       : 21px;
    border          : 1px solid;
    cursor          : pointer;
    border-radius   : 50%;
    box-shadow      : 0 0 0 #cca92c;
    animation       : Youtube_pulse__lgg6W 2s infinite;
  }
  
  @keyframes Youtube_pulse__lgg6W {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
      box-shadow     : 0 0 0 0 rgba(0, 0, 0, 0.8);
    }
  
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      box-shadow     : 0 0 0 20px rgba(0, 0, 0, 0)
    }
  
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      box-shadow     : 0 0 0 0 rgba(0, 0, 0, 0)
    }
  }
  
  button.close {
    position   : absolute;
    top        : 0px;
    right      : 0;
    font-weight: 100;
    width      : 28px;
    height     : 29px;
    background : #3c3c3c;
    opacity    : 1;
    z-index    : 9;
    color      : #fff;
    transition : all .3s ease-in-out;
  }
  
  section.section-thankyou p {
    font-weight: 500 !important;
  }
  
  .errormsglive,
  .errormsgmodal {
    display: none;
  }
  
  
  div#ourwork .item {
    width: 95%;
  }
  
  div#ourwork .owl-stage-outer {
    padding: 20px 0;
  }
  
  
  
  form label.error {
    color      : red;
    font-size  : 12px;
    font-weight: 500;
    position   : absolute;
  }
  .suhfuefhe li{
      color: #fff;
  }
  .arunn ul li{
      display: inline-block;
      color: #fff;
      text-align: center;
      margin: 10px;
      border: 1px solid #fff;
      padding: 10px 20px;
      border-radius: 5px;
  }
  .arunn ul li span{
      color: #FFCA2C;
      font-weight: 600;
  }
  .arunn ul li img{
      width: 80px;
  }
  .bg-yellow{
      background: #FFCA2C;
      margin-bottom: 20px;
  }
  .bg-gray{
    background-color: rgb(136, 135, 135);
    margin-bottom: 20px;
  }
  .callfjd {
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
      margin-top: 8px;
      justify-content: end;
      
  }
  .callfjd a {
      font-size: 20px;
      color: #fff;
  }
  .callfjd img {
      width: 5%;
      margin-right: 10px;
      border-radius: 100%;
      
  }
  #EnquireNow{
      background: #738ad1;
  }
  @media (max-width: 600px) {
      .navbar-toggler{
          display:none;
      }
      .callfjd{
          display:none;
      }
      .arunn ul{
          display: inline-flex;
      }
      .arunn ul li{
              padding: 10px 6px;
      }
  }